* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

:root {
  --main-bg-clr: #1b1d1d;
  --cell-bg-clr: #161616;
  --main-txt-clr: #ffffff;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: url(img/vs-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--main-txt-clr);
}

main {
  width: 850px;
  margin: 0 auto;
}

.player-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 20px;
  margin-bottom: 25px;
}

.p1-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.p2-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.player-one,
.player-two {
  display: flex;
  height: 35px;
  width: 200px;
  padding: 10px;
  border-radius: 20px;
  box-shadow: 0 0 5px 0px #000000;
}

.p1-score,
.p2-score {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100px;
  border-radius: 20px;
  background-color: var(--cell-bg-clr);
}

.p1-score {
  box-shadow: 0 0 5px 0px #ff0000;
}

.p2-score {
  box-shadow: 0 0 5px 0px #00f7ff;
}

.score-one,
.score-two {
  font-size: 2rem;
}

.p2-score {
  justify-self: flex-end;
}

.player-one {
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(90deg, #4b0000, #000000);
}

.player-two {
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(-90deg, #003133, #000000);
}

.marker-one,
.marker-two {
  font-weight: bolder;
}

.name-one,
.name-two {
  text-transform: uppercase;
  font-weight: bolder;
}

.control-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 10px;
  margin-bottom: 25px;
}

.start-container {
  justify-self: flex-end;
}

.start {
  text-transform: uppercase;
  font-weight: bolder;
  font-size: 1rem;
  color: white;
  border: none;
  height: 50px;
  width: 100px;
  border-radius: 25px;
  background-color: var(--cell-bg-clr);
  box-shadow: 0 0 5px 0px white;
  transition: 0.3s;
}

.start:hover {
  background-color: #a1ff6b;
  color: var(--cell-bg-clr);
}

.reset {
  text-transform: uppercase;
  font-weight: bolder;
  font-size: 1rem;
  color: white;
  border: none;
  height: 50px;
  width: 100px;
  border-radius: 25px;
  background-color: var(--cell-bg-clr);
  box-shadow: 0 0 5px 0px white;
  transition: 0.3s;
}

.reset:hover {
  background-color: #ff8f44;
  color: var(--cell-bg-clr);
}

.board-container {
  display: flex;
  justify-content: center;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 150px);
  grid-template-rows: repeat(3, 150px);
  gap: 10px;
}

.board-cell {
  background-color: var(--cell-bg-clr);
  box-shadow: 0 0 5px 0px #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.board-cell:nth-child(1) {
  border-top-left-radius: 25px;
}

.board-cell:nth-child(3) {
  border-top-right-radius: 25px;
}

.board-cell:nth-child(7) {
  border-bottom-left-radius: 25px;
}

.board-cell:nth-child(9) {
  border-bottom-right-radius: 25px;
}

.content {
  font-size: 5rem;
}
