* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

:root {
  --main-bg-clr: #061b29;
  --cell-bg-clr: #172f3f;
  --accent-clr: #ff3c7d;
  --main-txt-clr: #ffffff;

  --pink: #ff3c7d;
  --teal: #00ebcb;
  --green: #00eb62;
  --purple: #8d00eb;
  --yellow: #ffbb00;
  --blue: #2fb3ff;
  --magenta: #ff00f2;
  --lime: #aeff44;
}

body {
  font-family: "Mochiy Pop One", sans-serif;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: url(img/background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--main-txt-clr);
  overflow: hidden;
}

main {
  min-height: calc(100vh - 30px);
  width: 850px;
  margin: 0 auto;
}

footer {
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer > p {
  font-size: 0.7rem;
}

/* SHAPES AND LOGO STYLE ------------------------------------------ */

.logo-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.shape-container {
  position: relative;
  height: 300px;
  width: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  height: 200px;
  animation: move4 5s infinite;
}

.shape {
  font-weight: bolder;
}

.shape:nth-of-type(1) {
  position: absolute;
  top: 20px;
  left: 180px;
  font-size: 6rem;
  color: #ff3c7d;
  animation: move1 3s infinite;
}
.shape:nth-of-type(2) {
  position: absolute;
  top: 180px;
  left: 320px;
  font-size: 6rem;
  color: #00ebcb;
  animation: move2 5s infinite;
}
.shape:nth-of-type(3) {
  position: absolute;
  top: 220px;
  left: 20px;
  font-size: 3rem;
  color: #00eb62;
  animation: move3 2s infinite;
}
.shape:nth-of-type(4) {
  position: absolute;
  top: 120px;
  left: 440px;
  font-size: 4rem;
  color: #8d00eb;
  animation: move2 5s infinite;
}
.shape:nth-of-type(5) {
  position: absolute;
  top: 150px;
  left: 160px;
  font-size: 6rem;
  color: #ffbb00;
  animation: move2 3s infinite;
}
.shape:nth-of-type(6) {
  position: absolute;
  top: 20px;
  left: 360px;
  font-size: 6rem;
  color: #2fb3ff;
  animation: move2 4s infinite;
}
.shape:nth-of-type(7) {
  position: absolute;
  top: 80px;
  left: 60px;
  font-size: 4rem;
  color: #ff00f2;
  animation: move4 2s infinite;
}
.shape:nth-of-type(8) {
  position: absolute;
  top: 90px;
  left: 550px;
  font-size: 3rem;
  color: #aeff44;
  animation: move4 2s infinite;
}

.logo-title {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.tic {
  font-size: 5rem;
  color: #ff3c7d;
  text-shadow: 0px 5px 5px #000000;
  animation: move4 3s infinite;
}

.tac {
  font-size: 5rem;
  color: #00ebcb;
  text-shadow: 0px 5px 5px #000000;
  animation: move3 3s infinite;
}

.toe {
  font-size: 5rem;
  color: #aeff44;
  text-shadow: 0px 5px 5px #000000;
  animation: move2 3s infinite;
}

@keyframes move1 {
  0% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(5%);
  }
  100% {
    transform: translateY(0%);
  }
}

@keyframes move2 {
  0% {
    transform: translateY(0%);
  }
  25% {
    transform: translateY(5%);
  }
  50% {
    transform: translateY(0%);
  }
  75% {
    transform: translateY(5%);
  }
  100% {
    transform: translateY(0%);
  }
}

@keyframes move3 {
  0% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(10%);
  }
  100% {
    transform: translateY(0%);
  }
}

@keyframes move4 {
  0% {
    transform: translateY(10%);
  }
  50% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(10%);
  }
}
/* SHAPES AND LOGO STYLE ------------------------------------------ */

.button-container {
  margin-top: 20px;
  display: flex;
  gap: 20px;
}

.sp-button,
.mp-button {
  border: none;
  padding: 20px 40px 20px 40px;
  border-radius: 5px;
  box-shadow: 0px 5px 5px #000000;
  font-family: inherit;
  transition: 0.3s;
}

.sp-button {
  background-color: var(--pink);
}

.mp-button {
  background-color: var(--teal);
}

.sp-button:hover {
  background-color: white;
}

.mp-button:hover {
  background-color: white;
}

/* MODAL STYLE ------------------------------------------ */

.modal-container {
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: none;
  justify-content: center;
  align-items: center;
}

.modal-content {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: var(--main-bg-clr);
  box-shadow: 0 0 5px 0 #000000;
  padding: 20px;
  border-radius: 5px;
}

.modal-content > form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 100%;
}

.exit {
  position: absolute;
  top: 0px;
  left: 290px;
  transition: 0.3s;
}

.exit:hover {
  color: var(--accent-clr);
  cursor: pointer;
}

form > h2 {
  margin-bottom: 20px;
}

.p1-container,
.p2-container {
  display: flex;
  flex-direction: column;
}

.p1-label,
.p2-label {
  text-transform: uppercase;
}

.p1-input,
.p2-input {
  height: 2rem;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid var(--cell-bg-clr);
}

.p1-input:focus,
.p2-input:focus {
  outline: none;
  border-bottom: 1px solid var(--accent-clr);
}

input[type="text"] {
  font-family: "Mochiy Pop One", sans-serif;
  color: inherit;
}

.submit-names {
  font-family: "Mochiy Pop One", sans-serif;
  background-color: var(--accent-clr);
  color: var(--main-txt-clr);
  border: none;
  border-radius: 5px;
  padding: 20px;
  margin-top: 20px;
  text-transform: uppercase;
  font-weight: bolder;
  transition: 0.4s;
}

.submit-names:hover {
  background-color: var(--teal);
  color: rgba(0, 0, 0, 1);
}

/* BOARD STYLE ------------------------------------------ */

.board-container {
  display: flex;
  justify-content: center;
  transform: translateY(1000px);
  opacity: 0;
  transition: 0.5s;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 150px);
  grid-template-rows: repeat(3, 150px);
  gap: 5px;
  transition: 0.5s;
}

.board-cell {
  background-color: var(--cell-bg-clr);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.content {
  font-size: 5rem;
}
