* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-image: url(img/background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.start-btn {
  border: none;
  padding: 10px 20px 10px 20px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
  transition: 0.3s;
}

.start-btn:hover {
  background-color: rgb(129, 182, 182);
}

.game-container {
  height: 100vh;
  width: 720px;
  display: none;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 2fr 1fr;
  align-items: center;
  justify-items: center;
}

.score-container {
  width: 720px;
  display: flex;
  justify-content: space-between;
}

.board-container {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);
  gap: 5px;
}

.cell {
  background-color: antiquewhite;
  color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  font-weight: bolder;
}

.winning-cell {
  background-color: chartreuse;
}

.reset-btn {
  border: none;
  padding: 10px 20px 10px 20px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
  transition: 0.3s;
}

.reset-btn:hover {
  background-color: rgb(129, 182, 182);
}
